[submodule "Assets/Synecdoche/Base"]
	path = Assets/Synecdoche/Base
	url = /Users/ogo/Hubris/Synecdoche/Synecdoche
[submodule "Assets/Synecdoche/PostScriptum"]
	path = Assets/Synecdoche/PostScriptum
	url = /Users/ogo/Hubris/Synecdoche/PostScriptum
[submodule "Assets/Synecdoche/HLSL"]
	path = Assets/Synecdoche/HLSL
	url = /Users/ogo/Hubris/HLSL-Library
